<header class="header header--short" ng-controller="AppHeaderCtrl">
    <div class="popup-overlay hide">
        <!-- 1 -->
        <div class="popup popup-simple hide" id="login_popup">
            <div class="popup__close" ng-click="closePopups()"></div>
            <div class="popup__title">Login</div>
            <div class="clear"></div>
            <div class="popup__description">
                <form name="login" ng-submit="submitLogin()" id="login_form">
                    <div class="popup__field field-full">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" ng-model="user.email">
                    </div>
                    <div class="popup__field">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" ng-model="user.password">
                        <a class="forgot" ng-click="login.forgotPassword()">Forgot password?</a>
                    </div>
                    <div class="popup__field field-full">
                        <input type="submit" value="Login" class="btn-login">
                    </div>
                    <div class="field-or">
                        <span class="span-or">OR</span>
                    </div>
                    <div class="field-buttons clearfix">
                        <a class="btn-fb" ng-click="loginFacebook()" href="#">Login with Facebook</a>
                        <!--<a class="btn-google" ng-click="loginGoogle()" href="#">Login with Google+</a>-->
                    </div>
                </form>
                <img src="/img/fb_loading.gif" class="popup-loading hidden" id="fb-popup-loader">
            </div>
        </div>
        <!-- 2 -->
        <div class="popup popup-simple hide" id="register_popup">
            <div class="popup__close" ng-click="closePopups()"></div>
            <ul class="tab-link clearfix">
                <li class="active"><a>Attendee</a></li>
                <li><a>Organiser</a></li>
            </ul>
            <div class="clear"></div>
            <ul class="tab-content">
                <li class="active" id="popup_attendee">
                    <div class="popup__description">
                        <form name="register_attendee" ng-model="registerForm">
                            <input type="hidden" value="1" name="type" ng-model="registerForm.type">
                            <p class="field-help">Register to get full VenVast experience</p>
                            <div class="popup__field field-full">
                                <label for="email">Email:</label>
                                <input type="text" id="email" name="email" ng-model="registerForm.email">
                            </div>
                            <div class="field-info clearfix">
                                <div class="field-info__first">
                                    <label for="pass">Password:</label>
                                    <input type="password" name="password" ng-model="registerForm.password" id="pass">
                                </div>
                                <div class="field-info__second">
                                    <label for="passAdd">Confirm password:</label>
                                    <input type="password" id="passAdd" ng-model="registerForm.password_confirmation" name="password_confirm">
                                    <!--<p class="field-error">You have error</p>-->
                                </div>
                            </div>
                            <div class="field-buttons clearfix">
                                <a class="btn-fb" href="#" ng-click="registerFacebook()">Connect facebook</a>
                                <!--<a class="btn-google" href="#" ng-click="loginGoogle()">Connect Google+</a>-->
                            </div>
                            <div class="checkbox-field">
                                <input type="checkbox" name="subscribe" ng-model="registerForm.subscribe" id="confirm" checked="checked">
                                <label for="confirm">Subscribe to our newsletter</label>
                            </div>
                            <div class="popup__field field-full">
                                <input type="submit" value="Register" ng-click="register()" class="btn-login">
                                <p class="field-licence">By clicking "Sign up", you confirm that you accept our <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>.</p>
                            </div>
                            <!--<div class="field-or">-->
                                <!--<span class="span-or">OR</span>-->
                            <!--</div>-->
                        </form>
                    </div>
                </li>
                <li id="popup_description">
                    <div class="popup__description">
                        <form name="register_organizer">
                            <input type="hidden" name="type" ng-model="registerForm.type" value="2">
                            <p class="field-help">Register as organiser in order to create events</p>
                            <div class="popup__field field-full">
                                <label for="email">Email:</label>
                                <input type="text" id="email" ng-model="registerForm.email">
                            </div>
                            <div class="popup__field">
                                <label for="org">Organisation name:</label>
                                <input type="text" id="org" ng-model="registerForm.org_name">
                            </div>
                            <div class="field-info clearfix">
                                <div class="field-info__first">
                                    <label for="name">Name:</label>
                                    <input type="text" id="name" ng-model="registerForm.first_name">
                                </div>
                                <div class="field-info__second">
                                    <label for="family">Family name:</label>
                                    <input type="text" id="family" ng-model="registerForm.last_name">
                                </div>
                            </div>
                            <div class="field-info clearfix">
                                <div class="field-info__first">
                                    <label for="pass">Password:</label>
                                    <input type="password" id="pass" ng-model="registerForm.password">
                                </div>
                            </div>
                            <div class="field-buttons clearfix">
                                <a class="btn-fb" href="#" ng-click="registerFacebook()">Connect facebook</a>
                                <!--<a class="btn-google" href="#" ng-click="loginGoogle()">Connect Google+</a>-->
                            </div>
                            <div class="checkbox-field">
                                <input type="checkbox" id="subscribe_2" ng-model="registerForm.subscribe">
                                <label for="subscribe_2">Subscribe to our newsletter</label>
                            </div>
                            <div class="popup__field field-full">
                                <input type="submit" value="Register" ng-click="register()" class="btn-login">
                                <p class="field-licence">By clicking "Sign up", you confirm that you accept our <a>Terms of Service</a> and <a>Privacy Policy</a>.</p>
                            </div>
                        </form>
                    </div>
                </li>
            </ul>

        </div>
    </div>
    <nav class="nav">
        <div class="container clearfix">
            <ul class="navigation-additional" ng-if="user.initialized === false">
                <li><a data-component="popup" href="#" ng-click="showPopUp('register_popup')">Signup</a></li>
                <li><a data-component="popup" href="#" ng-click="showPopUp('login_popup')">Login</a></li>
            </ul>
            <ul class="navigation-additional" ng-if="user.initialized === true">
                <li><a href="#">{% user.email %}</a></li>
                <li><a href="#" ng-click="logout()">Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="meetings">
    </div>
    <nav class="nav-additional">
        <div class="container">
            <ul>
                <li><a href="/!/home" id="menu-events">Events</a></li>
                <li><a href="/!/venues" id="menu-venues">Venues</a></li>
                <!--<li ng-if="user.type == 1"><a href="/!/organize" id="menu-organize">Organize</a></li>-->
            </ul>
        </div>
    </nav>
</header>