<div class="catalog clearfix" ng-controller="EventsCtrl">
    <div id="loader-wrapper">
        <div id="loader"></div>
    </div>
    <div class="catalog-wrapper revealOnScroll" data-animation="fadeInUp" data-timeout="400" style="cursor: pointer;" ng-click="toggleInfo(event)" ng-repeat="event in events" name="event-{% event._id %}" id="event-{% event._id %}" href="#event-{% event._id %}">
        <div class="catalog-item">
            <ul class="catalog-item__headline clearfix">
                <li class="name">{% event.venue.name %}</li>
                <li style="float: right"><img style="height: 32px;" ng-src="{% event.getIcon() %}"></li>
                <li class="time" style="margin-right: 7px; margin-top: 2px;">{% event.getStartsIn() %}</li>
                <!--<li class="full__close">-->
                <!--<a ng-click="closeInfo()">Close</a>-->
                <!--</li>-->
            </ul>
            <div class="catalog-item__photo">
                <img ng-src="{% event.getPicture() %}">
            </div>
            <div class="catalog-item__title">
                <a>{% event.title %}</a>
            </div>
            <div class="catalog-item__description">{% event.details %}</div>
            <ul class="catalog-item__time">
                <li>{% event.getStartDate() %}</li>
                <li>{% "From " + event.getStartHours() + " to " + event.getEndHours() %}</li>
                <!--<li class="full__start">{% event.start_date + " " + event.start_time %}</li>-->

            </ul>
            <ul class="catalog-item__location" ng-if="event.venue.street && event.venue.street !== '' ">
                <li>{% event.venue.street %}</li>
                <li class="distance">{% event.distance %}</li>
            </ul>
            <div class="full__buttons clearfix">
                <a class="btn-social" facebook data-image="{% event.picture %}" data-url='http://venvast.com/!/event-{% event.id %}'></a>
                <!--<a class="btn-attend" href="#">Attend</a>-->
            </div>
        </div>
    </div>

</div>