<div class="category" ng-controller="EventFilterCtrl">

    <div id="location_input" tabindex="1">
        <input type="text" class="location-input" placeholder="Select location" ng-model="eventRequest.where.name" autocomplete="on">
    </div>

    <div id="category_search" class="dd-wrapper" tabindex="1">
        <span> {% eventRequest.category ? eventRequest.category : "Select category"%} </span>
        <ul class="dropdown">
            <li ng-click="selectCategory(null)">
                <a href="#" data-value="">-- All --</a>
            </li>
            <li ng-repeat="category in eventCategories" ng-click="selectCategory(category)">
                <a href="#" data-value="{% category.id %}">{% category.name %}</a>
            </li>
        </ul>
    </div>

    <div id="when_search" class="dd-wrapper" tabindex="1">
        <span>{% eventRequest.when ? eventRequest.when : "week" %}</span>
        <ul class="dropdown">
            <li ng-click="selectWhen(null)"><a href="#" data-value="">All</a></li>
            <li ng-click="selectWhen('today')"><a data-value="today" href="#">Today</a></li>
            <li ng-click="selectWhen('tomorrow')"><a data-value="tomorrow" href="#">Tomorrow</a></li>
            <li ng-click="selectWhen('week')"><a data-value="week" href="#">This Week</a></li>
            <li ng-click="selectWhen('month')"><a data-value="month" href="#">This Month</a></li>
        </ul>
    </div>

    <div id="text_input" tabindex="1">
        <input type="text" placeholder="Enter event title" ng-model="eventRequest.text" ng-change="searchByText()">
    </div>
</div>