// ------------------------------------------------------
// Variables
// ------------------------------------------------------

// Font-family
$font-family-default: 'Avenir', 'Open Sans', Helvetica, Arial, sans-serif;

// Size for fonts
$font-size-default: 14px;
$font-size-small: 12px;
$font-size-big: 16px;
$font-size-lead: 18px;

// Headlines
$h1: 36px;
$h2: 30px;
$h3: 24px;
$h4: 18px;
$h5: 14px;
$h6: 12px;

// Line-heights
$line-height-default: 1;
$line-height-custom: 22px;

// Font weight
$font-weight-default: 600;

// Defoult colors
$color-default: #222;
$bg-default: #fff;

// Link color
$color-link: #222;
$border-link: #949494;
$color-link-hover: #222;
$border-link-hover: #000;
$color-link-visited: #767676;
$border-link-visited: #949494;
$color-link-active: #000;
$border-link-active: #000;

// Division
$division: #e9eef5;

// Marker
$bg-mark: #fcf8e3;

// Quote
$color-quote: #C9D4E4;
$bg-quote: #e9eef5;

// Preformatted
$bg-pre: #e9eef5;
$border-pre: #C9D4E4;

// Code
$bg-code: #f5f2f0;
$border-code: #d5d2d0;

// ------------------------------------------------------
// Base styles
// ------------------------------------------------------

// Box-sizing for every elements
// ------------------------------------------------------
html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}

// Clearfix
// ------------------------------------------------------
.clearfix::before,
.clearfix::after {
	content: " ";
	display: table;
}
.clearfix::after {
	clear: both;
}

.clear {
	clear: both;
}

// Display
// ------------------------------------------------------
.hide {
	display: none;
}
.invisible {
	visibility: hidden;
}
.scroll {
	overflow-y: scroll;
}

// Default styles for document
// ------------------------------------------------------
body {
	font-family: $font-family-default;
	font-size: $font-size-default;
	line-height: $line-height-default;
	color: $color-default;
	background: $bg-default;
}

// Reset outlines for special elements
// ------------------------------------------------------
a,
input,
button,
select,
textarea:focus {
	outline: none;
}

// References
// ------------------------------------------------------
a {
	color: $color-link;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

// Link
a.link {
	color: $color-link;
	text-decoration: none;
	border-bottom: 1px solid $border-link;
	&:hover {
		color: $color-link-hover;
		border-bottom: 1px solid $border-link-hover;
	}
	&:visited {
		color: $color-link-visited;
		border-bottom: 1px solid $border-link-visited;
	}
	&:active {
		color: $color-link-active;
		border-bottom: 1px solid $border-link-active;
	}
}

// Headlines
// ------------------------------------------------------
h1,
h2,
h3,
h4,
h5,
h6 {
	//color: #374961;
	margin: 0 0 10px;
	font-weight: $font-weight-default;
}
h1 {
	margin: 0 0 25px;
	font-size: $h1;
}
h2 {
	margin: 0 0 20px;
	font-size: $h2;
}
h3 {
	margin: 0 0 15px;
	font-size: $h3;
}
h4 {
	font-size: $h4;
}
h5 {
	font-size: $h5;
}
h6 {
	font-size: $h6;
}

// Division
// ------------------------------------------------------
hr {
	margin: 20px 0;
	border: 0;
	border-top: 1px solid $division;
}

// Paragraph
// ------------------------------------------------------
p {
	margin: 0 0 10px;
	line-height: $line-height-custom;
	font-size: $font-size-default;
}

// Bold and important text
// ------------------------------------------------------
b,
strong {
	font-weight: $font-weight-default;
}

// Small and big size for text
// ------------------------------------------------------
small,
.small {
	font-size: $font-size-small;
}
big,
.big {
	font-size: $font-size-big;
}

// Custom class fot headlines
// ------------------------------------------------------
.text-lead {
	margin-bottom: 15px;
	font-size: $font-size-lead;
	font-weight: 400;
}

// Position for text
// ------------------------------------------------------
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-justify { text-align: justify; }

// Transformation for text
// ------------------------------------------------------
.text-lowercase { text-transform: lowercase; }
.text-uppercase { text-transform: uppercase; }
.text-capitalize { text-transform: capitalize; }

// Lists
// ------------------------------------------------------
ul,
ol {
	margin-top: 0;
	margin-bottom: 10px;
}
ul ul,
ol ul,
ul ol,
ol ol {
	margin-bottom: 0;
}

// Special classes for lists
.list-unstyled {
	padding-left: 0;
	list-style: none;
}
.list-inline {
	padding-left: 0;
	margin-left: -5px;
	list-style: none;
	& > li {
		display: inline-block;
		padding-right: 5px;
		padding-left: 5px;
	}
}

// List of terms
dl {
	margin-top: 0;
	margin-bottom: 20px;
}
dt,
dd {
	line-height: 24px;
}
dt {
	font-weight: $font-weight-default;
}
dd {
	margin-left: 0;
}

// List of terms in horizotal position
@media (min-width: 768px) {
	.dl-horizontal dt {
		float: left;
		width: 160px;
		overflow: hidden;
		clear: left;
		text-align: right;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.dl-horizontal dd {
		margin-left: 180px;
	}
}

// Abbreviation
// ------------------------------------------------------
abbr[title] {
	cursor: help;
	border-bottom: 1px dotted $color-default;
}

// Quote
// ------------------------------------------------------
blockquote {
	padding: 10px 20px;
	margin: 0 0 20px;
	font-size: $font-size-big;
	border-left: 5px solid $bg-quote;
	p:last-child,
	ul:last-child,
	ol:last-child {
		margin-bottom: 0;
	}
	footer,
	small,
	.small {
		display: block;
		font-size: $font-size-default;
		line-height: $line-height-custom;
		color: $color-quote;
	}
	footer::before,
	small::before,
	.small::before {
		content: '\00A0 \2014 \00A0';
	}
}

// Address
// ------------------------------------------------------
address {
	margin-bottom: 20px;
	font-style: normal;
	line-height: $line-height-custom;
}

// Code
// ------------------------------------------------------
code {
	padding: 2px 8px 3px;
	font-size: $font-size-small;
	background: $bg-code;
	border: 1px solid $border-code;
	border-radius: 4px;
}

// Keyboard
// ------------------------------------------------------
kbd {
	padding: 2px 8px 3px;
	font-size: $font-size-small;
	background: $bg-code;
	border: 1px solid $border-code;
	border-radius: 4px;
	kbd {
		padding: 0;
		border: none;
	}
}

// Marker
// ------------------------------------------------------
mark {
	padding: 3px 5px 4px;
	background: $bg-mark;
}

// Preformatted
// ------------------------------------------------------
pre {
	display: block;
	padding: 10px;
	margin: 0 0 10px;
	font-size: $font-size-default;
	line-height: $line-height-custom;
	color: $color-default;
	word-break: break-all;
	word-wrap: break-word;
	background: $bg-pre;
	border: 1px solid $border-pre;
	border-radius: 5px;
	code {
		padding: 2px 8px 3px;
		font-size: $font-size-small;
		background: $bg-code;
		border: 1px solid $border-code;
		border-radius: 5px;
		white-space: pre-wrap;
	}
}
.pre-scrollable {
	max-height: 340px;
	overflow-y: scroll;
}

// Images
// ------------------------------------------------------
figure {
	margin: 0;
}
img {
	vertical-align: middle;
}
.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}
.img-rounded {
	border-radius: 4px;
}
.img-circle {
	border-radius: 50%;
}

// Colors
// ------------------------------------------------------
.gray {
	color: #bbbbbb;
}
.red {
	color: #a94442;
}

.fixed {
	position: fixed;
	top:0; left:0;
	width: 100%;
}