@font-face {
	font-family: 'Avenir';
	src: url('https://venvast.com/font/Avenir-Medium.eot');
	src: url('https://venvast.com/font/Avenir-Medium.ttf');
	src: url('https://venvast.com/font/Avenir-Medium.woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir';
	src: url('https://venvast.com/font/Avenir-Black.eot');
	src: url('https://venvast.com/font/Avenir-Black.ttf');
	src: url('https://venvast.com/font/Avenir-Black.woff');
	font-weight: 900;
	font-style: normal;
}