// ------------------------------------------------------
// Variables
// ------------------------------------------------------

// General variables
// ------------------------------------------------------
$color-default: #222;
$bg-default: #fff;

// Line-heights
$line-height-default: 1;
$line-height-custom: 22px;

// Font weight
$font-weight-default: 600;

// Size for fonts
$font-size-default: 14px;
$font-size-small: 12px;
$font-size-big: 16px;
$font-size-lead: 18px;

// Form variables
// ------------------------------------------------------
// Placeholder
$form-placeholder: #222;
// Help
$form-help: #222;

// Active
$form-bg-primary: #F7F7F9;
$form-border-primary: #E1E1E8;

// Disabled
$form-bg-primary-dark: #f5f2f0;
$form-border-primary-dark: #d5d2d0;

// Button
// ------------------------------------------------------
$btn-bg: #f5f2f0;
$btn-border: #d5d2d0;

// ------------------------------------------------------
// Advanced styles
// ------------------------------------------------------

// Form
// ------------------------------------------------------
// Default view
fieldset {
	min-width: 0;
	padding: 0;
	margin: 0;
	border: 0;
}
legend {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 20px;
	font-size: $font-size-lead;
	line-height: $line-height-custom * 2;
	border: 0;
	border-bottom: 1px solid $form-border-primary;
}
label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
}
output {
	display: block;
	padding-top: 7px;
	font-size: $font-size-default;
	line-height: $line-height-custom;
	color: $color-default;
}
.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: $font-size-default;
	line-height: $line-height-custom;
	color: $color-default;
	background-color: $bg-default;
	background-image: none;
	border: 1px solid $form-border-primary;
	border-radius: 4px;
}
.form-control:focus {
	background: $form-bg-primary;
	outline: 0;
}
.form-control::-moz-placeholder {
	color: $form-placeholder;
	opacity: 1;
}
.form-control:-ms-input-placeholder {
	color: $form-placeholder;
}
.form-control::-webkit-input-placeholder {
	color: $form-placeholder;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
	background: $form-bg-primary-dark;
	border: 1px solid $form-border-primary-dark;
	opacity: 1;
}
.form-control[disabled],
fieldset[disabled] .form-control {
	cursor: not-allowed;
}
input[type="search"] {
	-webkit-appearance: none;
}

// Radio, checkbox
// ------------------------------------------------------
.radio,
.checkbox {
	position: relative;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}
.radio label,
.checkbox label {
	min-height: 20px;
	padding-left: 20px;
	margin-bottom: 0;
	font-weight: normal;
	cursor: pointer;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
	position: absolute;
	margin: 4px 0 0;
	margin-left: -20px;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"].disabled,
input[type="checkbox"].disabled,
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"] {
	cursor: not-allowed;
}
.radio.disabled label,
.checkbox.disabled label,
fieldset[disabled] .radio label,
fieldset[disabled] .checkbox label {
	cursor: not-allowed;
}
.radio + .radio,
.checkbox + .checkbox {
	margin-top: -5px;
}

// Form group
.form-group {
	margin-bottom: 15px;
}

// Help block
// ------------------------------------------------------
.help-block {
	display: block;
	margin-top: 5px;
	margin-bottom: 10px;
	color: $form-help;
}

// Button
// ------------------------------------------------------
.btn {
	display: inline-block;
	padding: 5px 10px 6px;
	background: $btn-bg;
	border: 1px solid $btn-border;
	border-radius: 4px;
	font-size: $font-size-default;
}