<form class="container" ng-controller="VenueCreateCtrl" ng-submit="createVenue($event)">
<!--<center><h1>Create new Event</h1></center>-->
    <ul class="timeline">
        <li>
            <div class="timeline-description">
                <center><h3>General information</h3></center>
                    <div class="timeline-description__field" style="width: 100%">
                            <div style="float: left">
                                <label for="eventEng">Title</label>
                                <input type="text" id="eventEng" ng-model="newVenue.name" style="height: 32px;" required>
                            </div>
                            <div style="float: left; margin-left: 10px">
                                <label for="category">Category</label>
                                <br/>
                                <select id="category" required ng-model="newVenue.category" required>
                                    <option value="">-- Choose category --</option>
                                    <option value="{% category._id %}" ng-repeat="category in venueCategories">{% category.name %}</option>
                                </select>
                                <p class="label-info" style="background-color: transparent;">Please chose category that best represents the venue</p>
                            </div>
                    </div>
                <div class="clearfix"></div>
                <div class="timeline-description__field" style="width: 100%">
                    <div style="float: left">
                        <label for="phone">Phone</label>
                        <input type="tel" id="phone" ng-model="newVenue.phone" style="height: 32px;" required>
                    </div>
                    <div style="float: left">
                        <label for="website">Website</label>
                        <input type="url" id="website" ng-model="newVenue.website" style="height: 32px; left: 15px;" required>
                    </div>
                    <div style="float: left; margin-left: 15px;">
                        <label for="email">Email</label>
                        <input type="email" id="email" ng-model="newVenue.email" style="height: 32px; left: 15px;" required>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="timeline-description__field">
                    <label for="public_transit">Public transit</label>
                    <br/>
                    <textarea id="public_transit" ng-model="newVenue.public_transit" style="resize: none; width: 100%" placeholder="Please describe how customers can get to your venue using public transport">
                    </textarea>
                </div>
                <div class="clearfix"></div>
                <div class="timeline-description__field">
                    <label for="descrEng">Venue description</label>
                    <br/>
                    <textarea id="descrEng" ng-model="newVenue.description" style="resize: none; width: 100%" placeholder="Please describe the event in 150 words or less. This description will be sown to users on detailed event page" required>
                    </textarea>
                </div>
                <div class="clearfix"></div>
                <br/>
                <center><h3>Business hours</h3></center>
                <p class="label-info" style="background-color: transparent;">Please specify your business hours. It will help to attract users to find your venue on Live map</p>
                <div class="timeline-description__field-full clear-offset" ng-repeat="hour in openingHours" style="width: 100%">
                    <label>
                        <!-- ng-checked="selection.indexOf(fruitName) > -1" -->
                        <input style="top: -4px;"
                               type="checkbox"
                               class="businessHoursBox"
                               name="businessHours[]"
                               id="open-check-{% hour.day %}"
                               value="{% hour.day %}"
                               ng-checked="businessHoursChecked(hour)"
                               ng-click="businessHoursToggle($event, hour)"
                        > {% newVenue.getDayOfWeekByCode(hour.day) %}
                    </label>
                    <label ng-if="hour.open"> Open time
                        <input ui-time-mask="short" ng-model="hour.open.time" ng-change="openAtChanged(hour.day)" style="width: 100px;">
                    </label>
                    <label ng-show="hour.open"> Close time
                        <input ui-time-mask="short" ng-model="hour.close.time" ng-change="closeAtChanged(hour.day)" style="width: 100px;">
                    </label>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-description">
                <center><h3>Location</h3></center>
                <div id="address-search">
                    <div class="timeline-description__field-location" style="float: left">
                        <label for="address">Address</label>
                        <input g-places-autocomplete ng-model="newVenue.address" id="address" ng-change="addressSelected()" placeholder="Search">
                        <!--<span class="label-address">{% newVenue.address.formatted_address %}</span>-->
                    </div>
                    <div class="clearfix"></div>
                    <div class="timeline-description__field-location">
                        <label>Map</label>
                        <div class="field-map" id="venue-map">
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-description">
                <center><h3>Other</h3></center>
                <div class="timeline-description__field-full clear-offset">
                    <label>Main photo</label>
                    <div class="field-photo__item" ng-if="newVenue.cover_image">
                        <img ngf-thumbnail="newVenue.getPicture()">
                    </div>
                    <a class="field-photo__remove" href="#" ng-if="newVenue.cover_image" ng-click="removePicture()">Remove</a>
                    <div class="label-photo-info">
                        <a href="#" ngf-select ng-model="newVenue.cover_image" accept="image/*" ngf-max-size="1MB">Upload photo</a>
                        <span class="description">Maximum size is 1MB.</span>
                    </div>
                </div>

                <div class="timeline-description__field-full clear-offset">
                    <label for="hostEvents">Do you want to host events?</label>
                    <input type="checkbox" style="top: -2px" id="hostEvents" ng-model="newVenue.hostEvents">
                </div>
                <div class="timeline-description__field-full clear-offset" ng-if="newVenue.hostEvents == true">
                    <p class="label-info" style="background-color: transparent;">Please chose event types you are mostly interested in. You can choose any number of types</p>
                    <label ng-repeat="category in eventCategories">
                        <!-- ng-checked="selection.indexOf(fruitName) > -1" -->
                        <input style="top: -4px;"
                                type="checkbox"
                                name="eventCategories[]"
                                id="category-check-{% category._id %}"
                                value="{% category._id %}"
                                ng-click="toggleSelection($event, category)"
                        >{% category.name %} <img ng-src="{% category.getImageUrl() %}" width="32" style="margin-left: -7px;">
                    </label>
                </div>
                <div class="timeline-description__field" ng-if="newVenue.hostEvents == true">
                    <label for="hostEventsInfo">Specify what kind of events you are looking for</label>
                    <br/>
                    <textarea id="hostEventsInfo" ng-model="newVenue.hostEventsInfo" style="resize: none; width: 100%" placeholder="Specify details to attract right event organizers to youe venue">
                    </textarea>
                </div>
                
                
            </div>
            
        </li>
    </ul>
    <div class="timeline__buttons">
        <!--ng-click="createVenue($event)"-->
        <button type="submit" class="timeline-btn">Create venue</button>
    </div>
</form>