// ------------------------------------------------------
// Layout
// ------------------------------------------------------

// Container
// ------------------------------------------------------
.container {
	width: 100%;
	margin: 0 auto;
	padding: 0;
}
.main {
	background: #bbbbbb;
}

// Header
// ------------------------------------------------------
.header {
	position: relative;
	width: 100%;
	height: 200px;
	background: url('https://venvast2.scdn5.secure.raxcdn.com/img/header.png') no-repeat center;
	background-size: cover;
	z-index: 1;
}

.header-management {
	position: relative;
	width: 100%;
	height: 200px;
	background: url('https://venvast2.scdn5.secure.raxcdn.com/img/header_management.png') no-repeat center;
	background-size: cover;
	z-index: 1;
}

// Nav
// ------------------------------------------------------
.nav {
	position: absolute;
	top: -10px;
	left: 0;
	width: 100%;
	height: 60px;
	z-index: 10;
}

// Nav-additional
// ------------------------------------------------------
.nav-additional {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 60px;
	z-index: 10;
	box-shadow: inset 0px -40px 30px -20px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: inset 0px -40px 30px -20px rgba(0, 0, 0, 0.5);
	ul {
		margin: 0;
		padding: 0;
		height: 60px;
	}
	li {
		display: inline-block;
		margin-right: -4px;
		height: 100%;
		line-height: 60px;
		&.active {
			background: #fff;
			a {
				color: #222;
			}
		}
	}
	a {
		display: block;
		padding: 0 50px;
		color: #fff;
		font-size: 16px;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 2.5px;
		&:hover {
			text-decoration: none;
		}
		&:focus {
			text-decoration: none;
		}
	}
}

// Content left
// ------------------------------------------------------
.l-content {
	float: left;
	width: 72%;
	background: #eee;
	padding-top: 60px;
}
// Sidebar right
// ------------------------------------------------------
.r-sidebar {
	float: right;
	width: 28% !important;
}

.r-sidebar-sticky {
	margin-left: 72%;
}

// Content right
// ------------------------------------------------------
.r-content {
	float: right;
	width: 85.5%;
	background: #eee;
}
// Sidebar left
// ------------------------------------------------------
.l-sidebar {
	float: left;
	width: 14.5%;
}

// Footer
// ------------------------------------------------------
.footer {
	width: 100%;
	background: #444;
	padding: 25px 10px;
}

// Footer links
.footer__list {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 20px;
	li {
		display: inline-block;
		padding-right: 15px;
		margin-right: 15px;
		border-right: 1px solid #ECF0F1;
		&:last-child {
			border-right: none;
			margin-right: 0;
		}
	}
	a {
		color: #eee;
		&:hover {
			color: #fff;
		}
	}
}

// Sertificates list
.sertificates__list {
	margin: 0;
	padding: 0;
	list-style: none;
	//margin-bottom: 20px;
	li {
		display: inline-block;
		margin-right: 15px;
		&:last-child {
			margin-right: 0;
		}
	}
}

// Footer address
.address__list {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: right;
	li {
		display: block;
		margin-bottom: 7px;
		color: #eee;
	}
}

// Copyright
.copyright {
	color: #eee;
	margin-top: 27px;
}

// Socials
.socials {
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
	li {
		display: inline-block;
		margin-right: 15px;
		&:last-child {
			margin-right: 0;
		}
	}
	a {
		display: block;
		text-decoration: none;
		.fa {
			width: 30px;
			height: 30px;
			background: #eee;
			color: #444;
			border-radius: 50%;
			text-align: center;
			line-height: 30px;
			transition: all .3s ease;
			&:hover {
				color: #fff;
			}
		}
		.fa-facebook:hover {
			background: #4c6bab;
		}
		.fa-twitter:hover {
			background: #36a3d0;
		}
		.fa-instagram:hover {
			background: #D4C9AB;
		}
	}
}

// Header secondary
// ------------------------------------------------------
.header-secondary {
	width: 100%;
	padding: 20px 0;
	background: #fff;
}

// Nav secondary
// ------------------------------------------------------
.nav-secondary {
	width: 100%;
	height: 80px;
	line-height: 80px;
	background: #fff;
	border-top: 2px solid #eee;
	border-bottom: 2px solid #eee;
}

.angular-google-map-container {
	height: 400px;
	margin-left: 10px;
}