<div ng-include src="'views/app/app_header/app_header.html'"></div>
<div class="container clearfix" ng-controller="DealsCtrl" style="min-height: 600px">
    <!-- /.header -->

    <div>
        <h1>Deals are coming soon!</h1>
    </div>


    <aside class="r-sidebar">
        <div class="sidebar__title">Map</div>
        <div class="sidebar-map">
            <ui-gmap-google-map center='map.center' zoom='map.zoom'>
                <ui-gmap-marker ng-repeat="event in events.objects"
                                idKey="event.id" coords="{latitude: event.latitude, longitude: event.longitude}"
                                click="onClick(event)">
                    <ui-gmap-window options="event.mapOptions" closeClick="closeClick(event)">
                        <div>
                            <h3>{% event.title %}</h3>
                            <hr/>
                            <div>{% event.venue.name %}</div>
                            <hr/>
                            <div>{% event.address %}</div>
                        </div>
                    </ui-gmap-window>
                </ui-gmap-marker>
            </ui-gmap-google-map>
        </div>
    </aside>
</div>
<div ng-include src="'views/app/footer/footer.html'"></div>
