<header class="header-management header--short" ng-controller="OrgHeaderCtrl">
    <div class="header-back">
        <a href="/">EXIT MANAGEMENT</a>
    </div>
    <nav class="nav">
        <div class="container clearfix">
            <ul class="navigation-additional" ng-if="user">
                <li><a href="#">{% user.email %}</a></li>
                <li><a href="#" ng-click="logout()">Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="meetings">
    </div>
    <nav class="nav-additional">
        <div class="container">
            <ul>
                <li><a href="/!/organize" id="menu-events">Events</a></li>
                <li><a href="/!/organize_venues" id="menu-venues">Venues</a></li>
                <li><a href="/!/hosts" id="menu-hosts">Hosts</a></li>
                <!--<li ng-if="user.type == 1" class="active"><a href="/!/organize" id="menu-organize">Organize</a></li>-->
            </ul>
        </div>
    </nav>
</header>