<div class="catalog clearfix" ng-controller="HostsCtrl">
    <div id="loader-wrapper">
        <div id="loader"></div>
    </div>
    <p>
        Hosts is a venues which are looking for event organizers or wants to host events.
        Click any venue for more info or contact details
    </p>

    <!-- catalog-wrapper--full -->
    <div class="catalog-wrapper revealOnScroll" data-animation="fadeInUp" data-timeout="400" style="cursor: pointer"
         ng-click="toggleInfo(venue)" ng-repeat="venue in hosts" id="venue-{% venue._id %}"
         name="venue-{% venue._id %}">
        <div class="catalog-item">
            <ul class="catalog-item__headline clearfix">
                <li class="name">{% venue.name %}</li>
                <!--<li class="full__close">-->
                    <!--<a href="#">Close</a>-->
                <!--</li>-->
            </ul>
            <div class="catalog-item__photo">
                <img height="165" ng-src="{% venue.getPicture() %}">
            </div>
            <div class="catalog-item__title">
                <a>{% venue.name %}</a>
            </div>
            <div class="catalog-item__description">{% venue.hostEventInfo %}</div>
            <div class="catalog-item__description">
                <span>Want to host:</span>
                <li ng-repeat="category in venue.eventCategories">{% category.name %}</li>
            </div>
            <ul class="catalog-item__location">
                <li>{% venue.street%}</li>
                <li class="phone detail"><img src="/img/phone.png">{% venue.phone %}</li>
                <li class='website detail'><img src="/img/info-icon.png">{% venue.website %}</li>
                <li class='public-transit detail'><img src="/img/public_transport.png">{% venue.public_transit %}</li>
                <li class="distance" style="margin-left: -30px;"><img src="/img/distance.png">{% venue.distance %}</li>
                <!--<li class="distance">5 km away</li>-->
            </ul>
            <div class="tbl-header" ng-if="venue.events.length > 0">
                <table cellpadding="0" cellspacing="0" border="0">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>Image</th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="tbl-content" ng-if="venue.events.length > 0">
                <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                    <tr ng-repeat="event in venue.events" ng-if="event.isAfter()">
                        <td>{% event.title %}</td>
                        <td>{% event.getStartDate() + " at " + event.getStartHours() %}</td>
                        <td><img ng-src="{% event.getPicture() %}" height="150"></td>
                    </tr>
                    </tbody>
                </table>
                <!--<div class="full__buttons clearfix">-->
                <!--<a class="btn-social" href="#">Share</a>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>