// ------------------------------------------------------
// State
// ------------------------------------------------------

// Header
// ------------------------------------------------------
.header--short {
	height: 200px;
}

// Catalog item full
// ------------------------------------------------------
.catalog-wrapper--full {
	width: 66.66666666% !important;
	min-height: 440px;
	.catalog-item {
		height: auto;

		.tbl-header{
			display: block;
			background-color: rgba(255,255,255,0.3);
			table {
				width: 100%;
				padding: 0 10px;
				text-align: center;

				tr {
					th {
						text-align: center;
					}
				}
			}
		}
		.tbl-content{
			display: block;
			height:300px;
			overflow-x:auto;
			margin-top: 0px;
			border: 1px solid rgba(255,255,255,0.3);
			table{
				width:100%;
				table-layout: fixed;

				th{
					padding: 20px 15px;
					text-align: left;
					font-weight: 500;
					font-size: 12px;
					text-transform: uppercase;
				}
				tr {
					color: black;
					background-color: transparent;
					&:hover {
						color: white;
						background-color: #33bfcb;
					}
					td{
						padding: 15px;
						text-align: left;
						vertical-align:middle;
						font-weight: 300;
						font-size: 12px;
						color: black;
						border-bottom: solid 1px rgba(255,255,255,0.1);
					}
				}
			}
		}

	}
	.catalog-item__description {
		padding: 0 12px;
		overflow: visible;
		text-overflow: auto;
		height: inherit;
		display: block;
		font-size: 12px;
		width: 90%;
		margin: auto;
		color: #656565;
		white-space: pre-wrap;      /* CSS3 */
		white-space: -moz-pre-wrap; /* Firefox */
		white-space: -pre-wrap;     /* Opera <7 */
		white-space: -o-pre-wrap;   /* Opera 7 */
		word-wrap: break-word;      /* IE */
	}
	.catalog-item__time {
		position: relative;
		padding: 15px 12px 15px 40px;
		margin: 0;
		margin-top: -5px;
		list-style: none;
		color: #6d6d6d;
		left: 28px;
	}
	.catalog-item__time::before {
		top: 20px;

	}
	.full__start {
		display: block;
	}
	.full__buttons {
		display: block;
	}

	.full__close {
		display: block;
	}

	.catalog-item__location {
		position: relative;
		padding: 15px 12px 15px 40px;
		margin: 0;
		margin-top: -11px;
		list-style: none;
		color: #6d6d6d;
		left: 29px;

		li {
			&.detail {
				display: block;
				margin-left: -30px;
			}

			&.distance {
				img {
					margin-right: 15px;
					height: 32px;
					width: 32px;
				}
			}

			img {
				margin-right: 15px;
				height: 16px;
				width: 16px;
			}

		}
	}
}

// Catalog item full
// ------------------------------------------------------
.category--fixed {
	position: fixed !important;
	top: 60px;
	width: 72% !important;
	background: #fff;
	z-index: 10;
}

.category--fixed-bottom {
	position: relative;
	margin-top: -500px;

	#calendar-filter {
		display: none;
	}

}