// ------------------------------------------------------
// Input
// ------------------------------------------------------

// Input
// ------------------------------------------------------
input {
	position: relative;
	display: inline-block;
	height: 32px;
	padding: 0px 15px;
	background: #fff;
	border: 1px solid #eee;
	color: #222;
	font-size: 14px;
	font-weight: 400;
	-webkit-appearance: none;
	border-radius: 5px;
	&:focus {
		border: 1px solid #ac6fb2;
	}
	&::-moz-placeholder {
		color: #bbb;
	}
	&:-ms-input-placeholder {
		color: #bbb;
	}
	&::-webkit-input-placeholder {
		color: #bbb;
	}
}

// Select
// ------------------------------------------------------
select {
	position: relative;
	display: inline-block;
	height: 32px;
	padding: 0px 15px;
	background: #fff;
	border: 1px solid #eee;
	color: #222;
	font-size: 14px;
	font-weight: 400;
	border-radius: 5px;
	&:focus {
		border: 1px solid #ac6fb2;
	}
}
option {
	font-weight: 400;
}