// ------------------------------------------------------
// Module
// ------------------------------------------------------

// Logo
// ------------------------------------------------------
.logo {
	float: left;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: url('../img/logo.png');
	margin-top: 10px;
	margin-right: 40px;
}

// Navigation-additional
// ------------------------------------------------------
.navigation-additional {
	float: right;
	height: 100%;
	vertical-align: top;
	margin: 0;
	padding: 0;
	li {
		display: inline-block;
		height: 100%;
		line-height: 60px;
		margin-right: 40px;
		&:last-child {
			margin-right: 0;
		}
	}
	a {
		color: #fff;
		font-size: 14px;
		font-weight: 200;
		text-transform: uppercase;
		letter-spacing: 2px;
		&:hover {
			text-decoration: none;
			//color: #eee;
		}
	}
}

// Header meetings
// ------------------------------------------------------
.meetings {
	position: absolute;
	top: 17%;
	left: 45%;
	width: 700px;
	height: 40px;
	margin-left: -280px;
	margin-top: -20px;
	z-index: 10;
}
.meetings__form {
	position: relative;
	input {
		height: 40px;
		font-size: 16px;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 1.2px;
		border-radius: 5px;
	}
	select {
		color: #626262;
		height: 40px;
		font-size: 16px;
		font-weight: 400;
		max-width: 150px;
		width: 150px;
		text-transform: uppercase;
		letter-spacing: 2px;
		border-radius: 5px;
		border: 1px solid #fff;
		&:focus {
			border: 1px solid #fff;
		}
	}
	input[type='submit'] {
		background: #ac6fb2;
		border: 1px solid #ac6fb2;
		color: #fff;
		font-weight: 900;
		&:focus {
			border: 1px solid #ac6fb2;
		}
	}
}
.meetings__field {
	display: inline-block;
	margin-right: 16px;
}
.meetings__when {
	color: #fff;
	font-size: 28px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 4px;
	display: block;
	position: relative;
	bottom: -5px;
	padding-left: 10px;
}
.meetings__where {
	color: #fff;
	font-size: 28px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 4px;
	display: block;
	position: relative;
	bottom: -5px;
	padding-left: 10px;
}
.meetings__what {
	color: #fff;
	font-size: 28px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 4px;
	display: block;
	position: relative;
	bottom: -5px;
	padding-left: 10px;
}

// Content left
// ------------------------------------------------------
// Headline
.category {
	background: #fff;
	height: 60px;
	width: 105%;
	line-height: 60px;
	color: #222;
	font-size: 16px;
	opacity: 0.96;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	text-align: center;
	margin-top: -60px;
	position: relative;;
	z-index: 10000;
	margin-left: -19px;
	a {
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
	}
	select {
		display: block;
		height: 100%;
		padding: 0;
		border-radius: 0;
		border: none;

		color: #222;
		font-size: 16px;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 2.5px;
	}
}
// Catalog
.catalog {
	padding: 40px 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	min-height: 600px;
}
// Item
.catalog-wrapper {
	width: 33.33333333%;
	float: left;
	padding: 0 10px;
	margin-bottom: 20px;

	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;

	.tbl-header{
		display: none;
	}
	.tbl-content{
		display: none;
	}

}
.catalog-item {
	font-size: 14px;
	background: #fff;
	//border: 1px solid #eee;
	border-radius: 5px;
	padding-bottom: 15px;
	&:hover {
		box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.20);
	}
	-webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.15);
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.15);

	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
	height: 320px;
	overflow: hidden;
}
// Headline
.catalog-item__headline {
	margin: 0;
	list-style: none;
	padding: 5px 12px;
	.name {
		float: left;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		width: 60%;
		color: #656565;
		font-size: 12px;
	}
	.time {
		float: right;
		color: #b6b6b6;
		font-size: 10px;
	}
}
// Photo
.catalog-item__photo {
	width: 100%;
	height: 160px;
	overflow: hidden;
	align-content: center;
	vertical-align: middle;
	text-align: center;
	img {
		background-size: cover;
		height: 160px;
		width: 100%;
		background-position-x: center;
		object-fit: cover;
	}
}
// Title
.catalog-item__title {
	padding: 15px 12px;
	display: inline-block;
	white-space: nowrap;
	text-overflow: ellipsis;
	height: 42px;
	overflow: hidden;
	width: 96%;
	margin-left: 3%;
	text-align: center;
	a {
		color: #656565;
		&:hover {
			text-decoration: none;
		}
	}
}
// Description
.catalog-item__description {
	padding: 0 12px;
	line-height: 21px;
	height: 40px;
	width: 100%;
	overflow: hidden;
	display: none;
}
// Time
.catalog-item__time {
	position: relative;
	padding: 15px 12px 15px 40px;
	margin: 0;
	margin-top: -11px;
	list-style: none;
	color: #6d6d6d;
	left: 10px;
	&::before {
		content: '';
		position: absolute;
		left: 12px;
		top: 20px;
		display: block;
		width: 18px;
		height: 18px;
		background: url('https://venvast.com/img/time-small.png') no-repeat;
		background-size: contain;
	}

	li:nth-child(1) {
		font-size: 11px;
		color: #bbb;
	}
	li {
		line-height: 14px;
		font-size: 12px;
	}
}
// Location
.catalog-item__location {
	position: relative;
	padding: 15px 12px 15px 40px;
	margin: 0;
	margin-top: -30px;
	list-style: none;
	color: #6d6d6d;
	left: 9px;
	&::before {
		content: '';
		position: absolute;
		left: 12px;
		top: 13px;
		display: block;
		width: 18px;
		height: 27px;
		background: url('https://venvast.com/img/place-small.png') no-repeat;
		background-size: contain;
	}
	li {
		line-height: 14px;
		font-size: 12px;
		color: #b6b6b6;
		width: 88%;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		margin-top: 6px;
		&:last-child {
			margin-bottom: 0;
		}

		&.detail {
			display: none;
		}

	}
	.distance {
		color: #bbb;
	}
}
// Full version
.full__close {
	display: none;
	float: right;
	text-transform: uppercase;
	letter-spacing: 1.2px;
	a {
		color: #bbbbbb;
		&:hover {
			text-decoration: none;
		}
	}
}
.full__start {
	display: none;
	margin-top: 5px;
	color: #bbbbbb;
}
// Buttons
.full__buttons {
	display: none;
	margin-top: 15px;
}
.btn-social {
	position: relative;
	float: left;
	margin-left: 21px;
	display: table;
	height: 40px;
	line-height: 40px;
	color: #4F73AF;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 2px;
	padding-left: 55px;
	&::before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: -2px;
		width: 40px;
		height: 40px;
		background: url('https://venvast.com/img/facebook.png') no-repeat;
	}
	&:hover {
		text-decoration: none;
	}
}
.btn-attend {
	float: right;
	display: table;
	height: 40px;
	line-height: 40px;
	padding: 0 15px;
	background: #AC6FB2;
	border-radius: 5px 0 0 5px;
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 2px;
	&:hover {
		text-decoration: none;
	}
}

// Sidebar right
// ------------------------------------------------------
.sidebar__title {
	height: 60px;
	line-height: 60px;
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
	color: #bbb;
}
.sidebar-map {
	width: 97%;
	height: 300px;
}

// Header small
// ------------------------------------------------------
.header-title {
	position: relative;
	top: 25px;
	float: left;
	display: block;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 2px;
	&:hover {
		text-decoration: none;
	}
}
.header-description {
	float: right;
}
.header-description__name {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	text-align: right;
	li {
		font-size: 16px;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 2px;
	}
	a:hover {
		text-decoration: none;
	}
	.title {
		font-weight: 600;
		margin-bottom: 5px;
	}
	.undertitle {
		font-weight: 400;
	}
}
.header-description__profile {
	display: inline-block;
	width: 60px;
	height: 60px;
	margin-left: 10px;
	border-radius: 50%;
	background: #eee;
}

// Nav secondary
// ------------------------------------------------------
.nav-secondary__list {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	li {
		display: inline-block;
		height: 100%;
		margin-right: 50px;
		&:hover ul {
			display: block;
		}
		&.active {
			a {
				color: #AC6FB2;
			}
		}
	}
	a {
		display: block;
		color: #222;
		font-size: 16px;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 2px;
		&:hover {
			text-decoration: none;
			color: #AC6FB2;
		}
	}
	// Dropdawn
	ul {
		display: none;
		position: absolute;
		top: 78px;
		left: 0;
		margin: 0;
		padding: 0;
		list-style: none;
		z-index: 10;
		background: #fff;
		li {
			display: block;
			height: 60px;
			line-height: 60px;
			border: 2px solid #eee;
			border-top: none;
			margin-right: 0;
		}
		a {
			display: block;
			color: #222;
			font-size: 16px;
			font-weight: 400;
			text-transform: uppercase;
			letter-spacing: 2px;
			padding: 0 12px;
			&::after {
				display: none;
			}
			&:hover {
				text-decoration: none;
				color: #AC6FB2;
			}
		}
	}
}
.managment {
	a {
		text-decoration: none;
		&::after {
			content: '';
			display: inline-block;
			width: 18px;
			height: 10px;
			margin-left: 10px;
			//background: url('../img/arrow-bottom.png') no-repeat;
		}
		&:hover {
			text-decoration: none;
		}
	}
}

// Content right
// ------------------------------------------------------
.inner-catalog {
	padding: 40px 10px;
}
// Item
.inner-catalog-wrapper {
	width: 33.33333333%;
	float: left;
	padding: 0 10px;
	margin-bottom: 20px;
}
.inner-catalog-item {
	font-size: 14px;
	background: #fff;
	border: 1px solid #eee;
	border-radius: 5px;
	padding-bottom: 15px;
	&:hover {
		border: 1px solid #AC6FB2;
	}
}
// Headline
.inner-catalog-item__headline {
	padding: 5px 12px;
}
// Photo
.inner-catalog-item__photo {
	width: 100%;
	height: 160px;
	overflow: hidden;
	align-content: center;
	vertical-align: middle;
	text-align: center;
	img {
		background-size: auto 200px;
		background-position-x: center;
	}
}
// Title
.inner-catalog-item__title {
	padding: 15px 12px;
	display: inline-block;
	a {
		color: #AC6FB2;
		&:hover {
			text-decoration: none;
		}
	}
}
// Description
.inner-catalog-item__description {
	padding: 0 12px;
	padding-bottom: 25px;
	line-height: 21px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
// Repeat
.inner-catalog-item__repeat {
	float: right;
	margin: 20px 12px 0 0;
	text-transform: uppercase;
	letter-spacing: 1.2px;
	color: #AC6FB2;
	&:hover {
		text-decoration: none;
	}
}
// New card
.inner-catalog-new {
	position: relative;
	height: 320px;
	font-size: 14px;
	background: #B4B4B4 url('../img/ico-catalog.png') no-repeat center 40px;
	border: 1px solid #eee;
	border-radius: 5px;
	padding-bottom: 15px;
	text-align: center;
	padding-top: 220px;
	&:hover {
		background: #AC6FB2 url('../img/ico-catalog.png') no-repeat center 40px;
		box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.20);
	}
	-webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.15);
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.15);

	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}
.inner-catalog-new__title {
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 2px;
}

// Sidebar left
// ------------------------------------------------------
.sidebar-menu {
	margin: 0;
	padding: 0;
	list-style: none;
	li {
		display: block;
		height: 60px;
		line-height: 60px;
		border-bottom: 2px solid #eee;
		color: #222;
		&.active a {
			background: #B4B4B4;
			color: #fff;
			&:hover {
				color: #fff;
			}
		}
		a {
			display: block;
			font-size: 16px;
			text-transform: uppercase;
			letter-spacing: 2px;
			padding: 0 12px;
			&:hover {
				color: #AC6FB2;
				text-decoration: none;
			}
		}
	}
}

// Timeline
// ------------------------------------------------------
.timeline {
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
	padding-top: 30px;
	li {
		position: relative;
		// Line
		&::before {
			content: '';
			position: absolute;
			top: 0px;
			bottom: 0;
			width: 3px;
			background: #ac6fb2;
			left: 15px;
			margin-left: 0px;
			z-index: -1;
		}
		&:last-child::before {
			content: '';
			display: none;
		}
	}
}
// Number
.timeline-number {
	display: inline-block;
	width: 33px;
	height: 33px;
	padding-top: 5px;
	background: #474747;
	border-radius: 50%;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	border: 3px solid #fff;
	z-index: 10;
	vertical-align: top;
	&.active {
		background: #ac6fb2;
	}
}
// Title
.timeline-title {
	display: inline-block;
	width: 217px;
	padding-right: 15px;
	margin-left: 13px;
	color: #222;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
	vertical-align: top;
	padding-top: 7px;
}
// Description
.timeline-description {
	display: inline-block;
	width: 100%;
	vertical-align: top;
	padding-top: 7px;
	margin-bottom: 25px;
}
// Field - input
.timeline-description__field {
	display: inline-block;
	width: 50%;
	margin-right: -4px;
	label {
		display: inline-block;
		margin-bottom: 10px;
		color: #bbbbbb;
		font-size: 14px;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 2px;
	}
	input {
		display: block;
		width: 275px;
	}
	select {
		display: block;
		width: 275px;
	}
}
// Filed full - description
.timeline-description__field-full {
	display: block;
	width: 699px;
	margin-bottom: 20px;
	label {
		display: inline-block;
		margin-bottom: 10px;
		color: #bbbbbb;
		font-size: 14px;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 2px;
	}
	textarea {
		width: 100%;
		padding: 10px 15px;
		background: #fff;
		border: 1px solid #eee;
		color: #222;
		font-size: 14px;
		font-weight: 400;
		-webkit-appearance: none;
		resize: none;
		height: 64px;
		max-height: 100px;
		border-radius: 5px;
		&:focus {
			border: 1px solid #ac6fb2;
		}
	}
}
// Date/Time
.timeline-description__field-time {
	display: block;
	margin-bottom: 20px;
	float: left;
	label {
		display: inline-block;
		margin-bottom: -10px;
		color: #bbbbbb;
		font-size: 14px;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 2px;
	}
	select {
		text-transform: uppercase;
		letter-spacing: 2px;
		display: block;
		width: auto;
		color: #bbb;
	}
}
.field-time {
	width: 36%;
	display: inline-block;
	margin-right: 40px;
}
// Location
.timeline-description__field-location {
	display: block;
	margin-bottom: 20px;
	label {
		display: block;
		margin-bottom: -10px;
		color: #bbbbbb;
		font-size: 14px;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 2px;
	}
	input {
		display: inline-block;
		width: 275px;
		&::-moz-placeholder {
			color: #bbb;
			text-transform: uppercase;
			letter-spacing: 2px;
		}
		&:-ms-input-placeholder {
			color: #bbb;
			text-transform: uppercase;
			letter-spacing: 2px;
		}
		&::-webkit-input-placeholder {
			color: #bbb;
			text-transform: uppercase;
			letter-spacing: 2px;
		}
	}
}
.label-address {
	color: #bbb;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-left: 40px;
}
.field-map {
	width: 49%;
	height: 400px;
	background: #eee;
	border-radius: 5px;
}
// Photos
.field-photo {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-left: -10px;
	margin-right: -10px;
	li {
		float: left;
		width: 33.33333%;
		padding: 0 10px;
		text-align: right;
		margin-bottom: 20px;
		&::before {
			display: none;
		}
	}
}
.label-photo-info {
	letter-spacing: 1.2px;
	color: #bbb;
	margin-left: 20px;
	.description {
		margin-bottom: 10px;
		display: block;
	}
	a {
		display: inline-block;
		margin-bottom: 10px;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 12px;
		color: #ac6fb2;
		&:hover {
			text-decoration: none;
		}
	}
}
.field-photo__item {
	background: #eee;
	max-width: 500px;
	max-height: 400px;
	border-radius: 5px;
	//img {
	//	width: 100%;
	//	background-size: 100%;
	//}
}
.field-photo__remove {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
	margin-top: 10px;
	display: inline-block;
	color: #F65E37;
	&:hover {
		text-decoration: none;
	}
}
// Clear offsets
.clear-offset {
	margin-bottom: 0 !important;
}
.label-info {
	margin-top: 10px;
	letter-spacing: 1.2px;
	color: #bbb;
}
// Timeline buttons
.timeline__buttons {
	width: 970px;
	text-align: center;
	margin-bottom: 20px;
}
.timeline-btn {
	margin: 0 auto;
	display: table;
	height: 40px;
	line-height: 40px;
	padding: 0 30px;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
	background: #ac6fb2;
	border: 1px solid #ac6fb2;
	color: #fff;
	margin-bottom: 40px;
	border-radius: 5px;
	&:hover {
		text-decoration: none;
	}
}


#loader-wrapper {
	z-index: 1000;
	margin-left: 50%;
	margin-top: 5%;
}
#loader {
	display: block;
	position: relative;
	left: 50%;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #3498db;
	-webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
	animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:before {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #e74c3c;
	-webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
	animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
	content: "";
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #f9c922;
	-webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
	animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
	0%   {
		-webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(0deg);  /* IE 9 */
		transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
	}
	100% {
		-webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(360deg);  /* IE 9 */
		transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
	}
}
@keyframes spin {
	0%   {
		-webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(0deg);  /* IE 9 */
		transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
	}
	100% {
		-webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(360deg);  /* IE 9 */
		transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
	}
}


.hidden {
	display: none;
}


.dd-wrapper {
	/* Styles */
	float: left;
	background: #fff;
	cursor: pointer;
	outline: none;

	/* Font settings */
	color: #b6b6b6;
	height: 100%;
	text-align: center;
	margin-left: 0;
	font-size: 12px;
	width: 25%;

	&:hover{
		background-color: #33bfcb;
		color: white;
	}
}

.dd-wrapper .dropdown {
	/* Size & position */
	position: absolute;

	/* Styles */
	background: white;
	border-radius: inherit;
	border: 1px solid rgba(0,0,0,0.17);
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
	font-weight: normal;
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
	list-style: none;

	/* Hiding */
	opacity: 0;
	pointer-events: none;
	width: 190px;
	z-index: 2000;
}
//
//.dd-wrapper .dropdown:after {
//	content: "";
//	width: 0;
//	height: 0;
//	position: absolute;
//	bottom: 100%;
//	right: 15px;
//	border-width: 0 6px 6px 6px;
//	border-style: solid;
//	border-color: #fff transparent;
//}

.dd-wrapper .dropdown:before {
	content: '';
	position: absolute;
	right: 20px;
	top: -20px;
	border: 10px solid transparent;
	border-bottom: 10px solid rgba(0,0,0,0.17);
}
ul.dropdown::after {
	content: '';
	position: absolute;
	right: 20px;
	border: 10px solid transparent;
	border-bottom: 10px solid white;
	top: -19px;
}

.dd-wrapper .dropdown li a {
	display: block;
	text-decoration: none;
	color: #33bfcb;
	box-shadow: inset 0 1px 0 rgba(255,255,255,1);
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	font-size: 12px;

	&:hover {
		background-color: #33bfcb;
		color: white;
	}
}

.dd-wrapper .dropdown li i {
	float: right;
	color: inherit;
}

.dd-wrapper .dropdown li:first-of-type a {
	border-radius: 7px 7px 0 0;
}

.dd-wrapper .dropdown li:last-of-type a {
	border: none;
	border-radius: 0 0 7px 7px;
}

/* Hover state */

.dd-wrapper .dropdown li:hover a {
	background-color: #33bfcb;
	color: white;
}

/* Active state */

.dd-wrapper.active .dropdown {
	opacity: 1;
	pointer-events: auto;
	width: 190px;
	border-radius: 7px;
}

/* No CSS3 support */

.no-opacity       .dd-wrapper .dropdown,
.no-pointerevents .dd-wrapper .dropdown {
	display: none;
	opacity: 1; /* If opacity support but no pointer-events support */
	pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .dd-wrapper.active .dropdown,
.no-pointerevents .dd-wrapper.active .dropdown {
	display: block;
}

.facebookButton button {
	display: none;
}

.hidden {
	display: none;
}

#go-button {
	position: relative;
	display: inline-block;
	height: 60px;
	padding: 0 15px;
	&:hover {
		background: #00bbcb;
	}
	background: #33bfcb;
	/* border-left: 1px solid #ac6fb2; */
	color: white;
	/* font-weight: 100; */
	font-size: 12px;
}

.header-back {
	position: absolute;
	margin-top: 13px;
	margin-left: 25px;
	z-index: 1000;
	cursor: pointer;

	a {
		color: #fff;
		font-size: 13px;
		font-weight: 200;
		text-transform: uppercase;
		letter-spacing: 2px;

		&:hover {
			color: #33bfcb;
			font-size: 14px;
			text-decoration: none;
		}
	}
}

.navigation-additional {
 margin-right: 20px;
}

.navigation-additional a:hover {
	color: #33bfcb;
	font-size: 14px;
	text-decoration: none;
	cursor: pointer;
}

.organizer-filter {
	background: #fff;
	height: 60px;
	line-height: 60px;
	color: #222;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	text-align: left;
	margin-top: -60px;
	a {
		text-decoration: none;
		letter-spacing: 2px;
		float: left;
		background: #fff;
		cursor: pointer;
		outline: none;
		color: #b6b6b6;
		width: 230px;
		height: 100%;
		text-align: center;
		margin-left: 25px;
		font-size: 12px;
		&:hover {
			font-size: 13px;
			background-color: #33bfcb;
			color: white;
		}
	}
	a.active {
		font-size: 14px;
		color: #33bfcb;
		font-weight: 400;
		&:hover {
			font-size: 14px;
			background-color: #33bfcb;
			color: white;
		}
	}
}

#location_input {
	float: left;
	background: #fff;
	cursor: pointer;
	outline: none;
	color: #b6b6b6;
	height: 100%;
	text-align: center;
	font-size: 15px;
	margin-left: 0;
	width: 25%;
	input {
		background: transparent;
		border: solid 1px #b6b6b6;
		height: 50px;
		margin-top: 5px;
	}
}

#text_input {
	float: left;
	background: #fff;
	cursor: pointer;
	outline: none;
	color: #b6b6b6;
	width: 25%;
	height: 100%;
	text-align: center;
	margin-left: 0px;
	font-size: 15px;
	input {
		background: transparent;
		border: solid 1px #b6b6b6;
		height: 50px;
		margin-top: 5px;
	}
}

#calendar-filter{
	margin-top: 60px;

	.ic__header select {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		width: 100%;
		border: 1px solid #000;
		padding: 2px;
		font-size: 12px;
		font-weight: bold;
		height: 22px;
	}

	.ic__header {
		position: relative;
		background: white;
		height: 35px;
	}

	.ic__prev, .ic__next {
		position: absolute;
		top: 0;
		width: 7%;
		height: 35px;
		background-color: white;
		cursor: pointer;
		div {
			top: 13px;
			right: 50%;
			margin-right: -7px;
		}

	}

	.ic__prev div {
		border-right-color: #b6b6b6;
	}

	.ic__next div {
		border-left-color: #b6b6b6;
	}

	.ic__days .ic__day_state_selected {
		background: #33bfcb;
		color: white;
		font-weight: 600
	}
}

.timeline{float: left; width: 90%; margin: 40px 5%; padding-left: 40px; position: relative; border-left: 1px solid #ccc; box-sizing: border-box;}
.timeline:before, .timeline:after{content: ""; width: 16px; height: 16px; border: 2px solid #ccc; position: absolute; left: -11px; border-radius: 50%;}
.timeline:before{top: -18px;}
.timeline:after{bottom: -18px;}
.timeline li{background-color: #f1f1f1; border: 1px solid #ccc; border-radius: 5px; float: left; margin-top: 20px; padding: 10px; position: relative; width: 100%;}
.timeline li:first-child{margin-top: 0;}
.timeline li:before{content: ""; width: 40px; height: 1px; background-color: #ccc; position: absolute; top: 50%; left: -41px;}
.timeline li:after{content: ""; width: 7px; height: 7px; background-color: #ccc; position: absolute; top: 50%; margin-top: -3px; left: -45px;}
.timeline-description p{margin-top: 15px;}
.timeline-description p:first-child{margin-top: 0;}


.timeline-description__field label {
	margin-bottom: -10px;
}

.select2-container .select2-selection--single {
	height: 32px !important;
}

.cropArea {
	background: #E4E4E4;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.ng-isolate-scope canvas {
	width: 100%;
	height: 100%;
	margin: 0px;
}