/*
* Popup
*/

.popup-overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	background: rgba(0,0,0,.5);
	overflow: auto;
	overflow-y: hidden;
}

.popup {
	position: absolute;
	left: 50%;
	margin-left: -250px;
	top: 25%;
	width: 500px;
	background: #fff;
	z-index: 110;
}
.popup__title {
	font-size: 18px;
	font-weight: 400;
	text-align: center;
	padding: 20px 40px;
	border-bottom: 1px solid #eee;
}
.popup__description {
	padding: 20px 40px;
	font-size: 14px;
	color: #000;
	min-height: 315px;
}

.popup__close {
	position: absolute;
	top: 9px;
	right: 9px;
	display: block;
	width: 18px;
	height: 18px;
	background: url('../img/close.png');
	&:hover {
		cursor: pointer;
	}
}

// Simple popup (Login form)
// ------------------------------------------------------
.popup-simple {
	background: transparent;
	top: 5%;
	.popup__title {
		width: 50%;
		background: #fff;
		color: #222;
		text-transform: uppercase;
		letter-spacing: 2px;
		float: right;
		border-bottom: none;
		font-size: 16px;
	}
	.popup__description {
		background: #fff;
		padding: 30px 20px;
		border-radius: 0 0 5px 5px;
	}
	.popup__close {
		right: -30px;
	}
}
.popup__field {
	margin-bottom: 20px;
	label {
		display: block;
		margin-bottom: 10px;
		color: #666;
		font-size: 14px;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 2px;
	}
	input {
		height: 40px;
	}
	&.field-full {
		input {
			width: 100%;
		}
	}
}
.forgot {
	margin-left: 40px;
	color: #bbb;
	letter-spacing: 1.2px;
	&:hover {
		text-decoration: none;
	}
}
// Input Login
.btn-login {
	margin-top: 10px;
	background: #ac6fb2;
	border: 1px solid #ac6fb2;
	color: #fff;
	font-size: 16px;
}
// Button "OR"
.field-or {
	position: relative;
	display: block;
	text-align: center;
	height: 40px;
	margin-top: 30px;
	margin-bottom: 25px;
	&::before {
		content: '';
		position: absolute;
		top: 20px;
		left: 0;
		width: 100%;
		height: 1px;
		background: #eee;
	}
}
.span-or {
	position: absolute;
	left: 50%;
	margin-left: -20px;
	top: 0;
	background: #fff;
	border-radius: 50%;
	border: 1px solid #eee;
	width: 40px;
	height: 40px;
	display: block;
	line-height: 40px;
	color: #ac6fb2;
}
// Buttons socials
.field-buttons {
	a {
		position: relative;
		display: inline-block;
		width: 48%;
		height: 40px;
		line-height: 40px;
		font-size: 14px;
		font-weight: 400;
		border-radius: 5px;
		border: none;
		color: #fff;
		text-align: center;
		&:hover {
			text-decoration: none;
		}
	}
}
// Button facebook
.btn-fb {
	position: relative;
	float: left;
	background: #2E7DC4;
	&::before {
		content: '';
		position: absolute;
		left: 17px;
		top: 7px;
		display: block;
		width: 12px;
		height: 24px;
		background: url('../img/fb.png') no-repeat;
	}
}
// Button google
.btn-google {
	float: right;
	background: #FF472B;
	&::before {
		content: '';
		position: absolute;
		left: 17px;
		top: 11px;
		display: block;
		width: 17px;
		height: 17px;
		background: url('../img/g+.png') no-repeat;
	}
}
// General information
.field-info {
	margin-bottom: 5px;
	label {
		display: block;
		margin-bottom: -15px;
		color: #666;
		font-size: 14px;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 2px;
	}
	input {
		height: 40px;
		&:invalid {
			border: 1px solid #F65E37;
		}
	}
}
.field-info__first {
	float: left;
	width: 45%;
}
.field-info__second {
	float: right;
	width: 45%;
}
.field-error {
	font-size: 12px;
	letter-spacing: 1.2px;
	color: #F65E37;
	margin-top: 3px;
}
// Checkbox
.checkbox-field {
	label {
		display: inline-block;
		margin-left: 15px;
		position: relative;
		top: 2px;
		color: #666;
		font-size: 12px;
		font-weight: 400;
		letter-spacing: 1.2px;
	}
}
input[type="checkbox"] {
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url('../img/check.png') no-repeat;
	border: none;
	-webkit-appearance: none;
}
input[type="checkbox"]:checked {
	width: 15px;
	height: 15px;
	background: url('../img/check.png') no-repeat;
	background-position: -15px 0px;
}
// Field additional
// Help title
.field-help {
	font-size: 14px;
	color: #666;
	margin-bottom: 0px;
	letter-spacing: 1.2px;
}
// Licence title
.field-licence {
	font-size: 11px;
	text-align: center;
	margin-bottom: 0;
	margin-top: 3px;
	a {
		font-size: 11px;
		text-decoration: underline;
		color: #ac6fb2;
	}
}



#fb-popup-loader {

}

.popup-loading {
	margin-left: 40%;
	margin-top: 20%;
}

#login_popup {
	left: 80%;
}

#register_popup {
	left: 81%;
}

#org-label {
	margin-bottom: -15px;
}