/*
* Tab
*/
.tab-link {
	margin-bottom: 0;
	padding: 0;
	font-size: 0;
	li {
		display: block;
		float: left;
		width: 50%;
		background: transparent;
		font-size: 14px;
		text-align: center;
		&.active {
			background: #fff;
			a {
				color: #222;
			}
		}
	}
	a {
		display: block;
		padding: 20px 0;
		color: #fff;
		font-size: 16px;
		letter-spacing: 2px;
		text-transform: uppercase;
		&:hover {
			text-decoration: none;
		}
	}
}
.tab-content {
	margin-bottom: 0;
	padding: 0;
	li {
		display: none;
		&.active {
			display: block;
		}
	}
}