<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ul class="footer__list">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Terms of service</a></li>
                    <li><a href="#">For attendee</a></li>
                    <li><a href="#">For business owner</a></li>
                    <li><a href="#">For event organizer</a></li>
                </ul>
                <ul class="sertificates__list">
                    <li><img src="img/rack.png"></li>
                    <li><img src="img/ssl_c.png"></li>
                </ul>
                <p class="copyright">© VenVast Limited, 2016</p>
            </div>
            <div class="col-md-6">
                <ul class="address__list">
                    <li>Unit 1104, 11/F, Crawford House, 70 </li>
                    <li>Floor 5 Chamnam Phenjati Business </li>
                    <li><a style="color: white" href="mailto: info@venvast.com">info@venvast.com</a></li>
                </ul>
                <ul class="socials">
                    <li><a href="https://www.facebook.com/venvast" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/VenVast" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.instagram.com/venvast" target="_blank"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>