<div ng-include src="'views/app/header/header.html'"></div>
<div class="container clearfix">
    <section class="l-content">
        <div ui-view="filters"></div>
        <div ui-view="catalogue"></div>
    </section>
    <aside class="r-sidebar sticky" ui-view="r_sidebar">
    </aside>
</div>
<div ng-include src="'views/app/footer/footer.html'"></div>