<div class="sidebar__title">Map</div>
<div class="sidebar-map" ng-controller="MapCtrl">
    <div id="map-canvas" style="height: 350px; margin-left: 1%">
    </div>
</div>
<div class="calendar-filter" id="calendar-filter" ng-controller="CalendarCtrl">

</div>
