<form class="container" ng-controller="EventCreateCtrl" ng-submit="createEvent($event)">
<!--<center><h1>Create new Event</h1></center>-->
    <ul class="timeline">
        <li>
            <div class="timeline-description">
                <center><h3>General information</h3></center>
                    <div class="timeline-description__field" style="width: 100%">
                            <div style="float: left">
                                <label for="eventEng">Title</label>
                                <input type="text" id="eventEng" ng-model="newEvent.title" style="height: 32px;" required>
                            </div>
                            <div style="float: left; margin-left: 10px">
                                <label for="category">Category</label>
                                <br/>
                                <select id="category" required ng-model="newEvent.category" required>
                                    <option value="">-- Choose category --</option>
                                    <option value="{% category._id %}" ng-repeat="category in eventCategories">{% category.name %}</option>
                                </select>
                                <p class="label-info" style="background-color: transparent;">Please chose interest that best represents the event</p>
                            </div>
                    </div>
                <div class="clearfix"></div>
                <div class="timeline-description__field">
                    <label for="descrEng">Details</label>
                    <br/>
                    <textarea id="descrEng" ng-model="newEvent.details" style="resize: none; width: 100%" placeholder="Please describe the event in 150 words or less. This description will be sown to users on detailed event page" required>
                    </textarea>
                </div>
                <div class="clearfix"></div>
                <div class="timeline-description__field-time">
                    <div class="field-time">
                        <label for="startAt">Start at</label>
                        <input id="startAt" type="text" ng-model="newEvent.start_at" required ng-change="startAtChanged()">
                    </div>
                </div>
                <div class="timeline-description__field-time">
                    <div class="field-time">
                        <label for="endAt">End at</label>
                        <input type="text" id="endAt" ng-model="newEvent.end_at" required>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-description">
                <center><h3>Location</h3></center>
                <div class="timeline-description__field-location" ng-if="orgVenues.length > 0">
                    <select id="venue" name="venues" ng-model="newEvent.venue" ng-init="initOrgVenuesSelect()" ng-change="toggleAddressSearch()">
                        <option value="">--Choose venue--</option>
                        <option ng-if="orgVenues.length > 0" ng-repeat="mVenue in orgVenues" value="{% mVenue._id %}">{% mVenue.name %}</option>
                    </select>
                    <span class="label-address">Choose existing venue</span>
                </div>
                <div id="address-search">
                    <div class="field-or" ng-if="orgVenues.length > 0">
                        <span class="span-or">OR</span>
                    </div>
                    <p class="label-info" style="background-color: transparent; width: 50%; float: right">
                        Note that using fields bellow leads to creation of new Venue. Make sure you entered correct venue name
                        for event to provide users actual information and make your event easier to find.
                        You will be able to modify this venue from the "Venues" tab in your management platform.

                        If you feel that your Venue is already in our system and you don't
                        like to duplicate it please contact us to get control on your venue at VenVast.
                    </p>
                    <div class="timeline-description__field-location" style="float: left">
                        <label for="address">Address</label>
                        <input g-places-autocomplete ng-model="newEvent.address" id="address" ng-change="addressSelected()" placeholder="Search">
                        <!--<span class="label-address">{% newEvent.address.formatted_address %}</span>-->
                    </div>
                    <div class="timeline-description__field-location" style="float: left; margin-left: 10px">
                        <label for="venue_name">Name</label>
                        <input name="name" id="venue_name" ng-model="newEvent.address.name" ng-change="nameChanged()" placeholder="Venue name">
                    </div>
                    <div class="clearfix"></div>
                    <div class="timeline-description__field-location">
                        <label>Map</label>
                        <div class="field-map" id="event-map">
                        </div>
                    </div>

                    <p class="label-info" style="background-color: transparent; width: 50%;" ng-if="existingVenues.length > 0">
                        It seems that you are looking for venue which is already created at VenVast. Please choose one of the venues
                        bellow if there are one of you are looking for. If it's your venue and you want to take control of it just contact us
                        and we will provide you instructions on how to claim it.
                    </p>
                    <center ng-if="existingVenues.length > 0"><h4>Please choose one of existing locations or check "Create new Venue" box</h4></center>

                    <div class="timeline-description__field-location">
                        <label for="createVenueBox" style="float: left">Create new Venue</label>
                        <input type="checkbox" style="top: 20px" id="createVenueBox" ng-model="newEvent.createVenue" ng-change="createNewVenueChanged()">
                    </div>
                    <div class="clearfix"></div>
                    <div class="timeline-description__field-location" ng-if="existingVenues.length > 0">
                        <div class="catalog-wrapper" style="cursor: pointer" ng-click="pickVenue($event, venue)" ng-repeat="venue in existingVenues">
                            <div class="catalog-item">
                                <ul class="catalog-item__headline clearfix">
                                    <li class="full__close">
                                        <a href="#">Close</a>
                                    </li>
                                </ul>
                                <div class="catalog-item__photo">
                                    <img height="165" ng-src="{% venue.cover_image %}">
                                </div>
                                <div class="catalog-item__title">
                                    <a>{% venue.name %}</a>
                                </div>
                                <ul class="catalog-item__location">
                                    <li style="border: 0px; background-color: transparent;">{% venue.street%}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-description">
                <center><h3>Other</h3></center>
                <div class="timeline-description__field-full clear-offset">
                    <label>Main photo</label>
                    <div class="field-photo__item" ng-if="newEvent.picture">
                        <img ngf-thumbnail="newEvent.picture">
                        <!--<img ng-if="{% typeof newEvent.picture === 'string' %}" ngf-thumbnail="newEvent.getPicture()">-->
                    </div>
                    <a class="field-photo__remove" href="#" ng-if="newEvent.picture" ng-click="removePicture()">Remove</a>
                    <div class="label-photo-info">
                        <a href="#" ngf-select ng-model="newEvent.picture" accept="image/*" ngf-max-size="1MB">Upload photo</a>
                        <span class="description">Maximum size is 1MB.</span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="timeline__buttons">
        <!--ng-click="createEvent($event)"-->
        <button type="submit" class="timeline-btn">Create event</button>
        <!--<button type="reset" class="timeline-btn red">Clear</button>-->
    </div>
</form>