<header class="header header--short" ng-controller="HeaderCtrl">
    <div class="popup-overlay hide">
        <!-- 1 -->
        <div class="popup popup-simple hide" id="login_popup">
            <div class="popup__title">Login</div>
            <div class="clear"></div>
            <div class="popup__description">
                <form name="login" ng-submit="submitLogin()" id="login_form">
                    <p id="login-error" class="field-help error hidden">{% loginError %}</p>
                    <div class="field-info clearfix">
                        <div class="field-info__first">
                            <label for="email">Email:</label>
                            <input type="email" id="email" name="email" ng-model="loginForm.email">
                        </div>
                        <div class="field-info__second">
                            <label for="password">Password:</label>
                            <input type="password" id="password" name="password" ng-model="loginForm.password">
                            <a class="forgot" ng-click="login.forgotPassword()">Forgot password?</a>
                        </div>
                    </div>
                    <div class="popup__field field-full">
                        <input type="submit" value="Login" class="btn-login">
                    </div>
                    <div class="field-or">
                        <span class="span-or">OR</span>
                    </div>
                    <div class="field-buttons clearfix">
                        <a class="btn-fb" ng-click="loginFacebook()" style=" width: 99%;" href="#">Login with Facebook</a>
                        <!--<a class="btn-google" id="googleLogin" href="#">Login with Google+</a>-->
                    </div>
                </form>
                <div class="loader-wrapper" style="margin-top: 25%;">
                    <div id="loader"></div>
                </div>
            </div>
        </div>
        <!-- 2 -->
        <div class="popup popup-simple hide" id="register_popup">
            <ul class="tab-link clearfix">
                <li class="active" ng-click="render_tab($event, 'popup_attendee')"><a>SIGN UP</a></li>
            </ul>
            <div class="clear"></div>
            <ul class="tab-content">
                <li class="active" id="popup_attendee">
                    <div class="popup__description">
                        <form name="register_attendee" ng-submit="register()" ng-model="registerForm" id="register_form">
                            <input type="hidden" value="1" name="type" ng-model="registerForm.type">
                            <p class="field-help">Sign up to get full VenVast experience</p>
                            <div class="field-info clearfix">
                                <div class="popup__field field-info__first">
                                    <label for="user_email">Email:</label>
                                    <input type="text" id="user_email" name="email" ng-model="loginForm.email">
                                </div>
                                <div class="field-info__second">
                                    <label for="pass">Password:</label>
                                    <input type="password" name="password" ng-model="loginForm.password" id="pass">
                                </div>
                            </div>
                            <div class="checkbox-field">
                                <input type="checkbox" name="subscribe" ng-model="loginForm.subscribe" id="confirm" checked="checked">
                                <label for="confirm">Subscribe to our newsletter</label>
                            </div>
                            <div class="popup__field field-full">
                                <input type="submit" value="Sign up" class="btn-login">
                                <p class="field-licence">By clicking "Sign up", you confirm that you accept our <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>.</p>
                            </div>
                            <div class="field-or">
                                <span class="span-or">OR</span>
                            </div>
                            <div class="field-buttons clearfix">
                                <a class="btn-fb" ng-click="loginFacebook()" style=" width: 99%;" href="#">Sign up with Facebook</a>
                                <!--<a class="btn-google" ng-click="loginGoogle()" href="#">Sign up with Google</a>-->
                            </div>
                        </form>
                        <div class="loader-wrapper" style="margin-top: 25%;">
                            <div id="loader"></div>
                        </div>
                    </div>
                </li>
                <li id="popup_description">
                    <div class="popup__description">
                        <form name="register_organizer" ng-submit="register()">
                            <input type="hidden" name="type" ng-model="registerForm.type" value="2">
                            <p class="field-help">Sign up as organiser in order to create events, venues and deals all over the world to promote your business for FREE.</p>

                            <div class="field-info clearfix" style="margin-bottom: 0px;">
                                <div class="field-info__first">
                                    <label for="email">Email:</label>
                                    <input type="text" id="email" ng-model="registerForm.email">
                                </div>
                                <div class="field-info__second">
                                    <label for="pass">Password:</label>
                                    <input type="password" id="pass" ng-model="registerForm.password">
                                </div>
                            </div>

                            <div class="field-info clearfix" style="margin-bottom: 0px;">
                                <div class="field-info__first" style="margin-top: -20px;">
                                    <label for="name">Name:</label>
                                    <input type="text" id="name" ng-model="registerForm.first_name">
                                </div>
                                <div class="field-info__second" style="margin-top: -20px;">
                                    <label for="family">Family name:</label>
                                    <input type="text" id="family" ng-model="registerForm.last_name">
                                </div>
                            </div>

                            <div class="popup__field" style="margin-bottom: 0px; margin-top: -20px;">
                                <label for="org" id="org-label">Organisation name:</label>
                                <input type="text" id="org" ng-model="registerForm.org_name">
                            </div>
                            <div class="field-buttons clearfix">
                                <a class="btn-fb" href="#" ng-click="registerFacebook()">Connect facebook</a>
                                <!--<a class="btn-google" href="#" ng-click="loginGoogle()">Connect Google+</a>-->
                            </div>
                            <div class="checkbox-field">
                                <input type="checkbox" id="subscribe_2" ng-model="registerForm.subscribe">
                                <label for="subscribe_2">Subscribe to our newsletter</label>
                            </div>
                            <div class="popup__field field-full" style="margin-top: -20px;">
                                <input type="submit" value="Sign up" class="btn-login">
                                <p class="field-licence">By clicking "Sign up", you confirm that you accept our <a>Terms of Service</a> and <a>Privacy Policy</a>.</p>
                            </div>
                        </form>
                    </div>
                </li>
            </ul>

        </div>
    </div>
    <nav class="nav">
        <div class="container clearfix">
            <ul class="navigation-additional" ng-if="!user">
                <li><a data-component="popup" href="#" ng-click="showPopUp('register_popup')">Sign up</a></li>
                <li><a data-component="popup" href="#" ng-click="showPopUp('login_popup')">Login</a></li>
            </ul>
            <ul class="navigation-additional" ng-if="user">
                <li><a href="#">{% user.email %}</a></li>
                <li ng-if="user.admin === 1"><a href="/admin/events">Admin</a></li>
                <li><a href="#" ng-click="logout()">Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="meetings">
    </div>
    <nav class="nav-additional">
        <div class="container">
            <ul>
                <li><a href="/!/home" id="menu-events">Events</a></li>
                <li><a href="/!/venues" id="menu-venues">Venues</a></li>
                <li ng-if="user.email.length > 4"><a href="/!/organize" id="menu-organize">Organize</a></li>
            </ul>
        </div>
    </nav>
</header>