<div class="catalog clearfix">
    <div id="loader-wrapper">
        <div id="loader"></div>
    </div>
    <!-- catalog-wrapper--full -->
    <div class="catalog-wrapper revealOnScroll" data-animation="fadeInUp" data-timeout="400" style="cursor: pointer;" ng-click="toggleInfo(event)" ng-repeat="event in events.objects" ng-if="event.starts_in_hours > 0" name="event-{% event.id %}" id="event-{% event.id %}" href="#event-{% event.id %}">
        <div class="catalog-item">
            <ul class="catalog-item__headline clearfix">
                <li class="name">{% event.venue.name %}</li>
                <li class="time">{% event.starts_in %}</li>
                <!--<li class="full__close">-->
                <!--<a ng-click="closeInfo()">Close</a>-->
                <!--</li>-->
            </ul>
            <div class="catalog-item__photo">
                <img ng-src="{% event.picture %}">
            </div>
            <div class="catalog-item__title">
                <a>{% event.title %}</a>
            </div>
            <div class="catalog-item__description">{% event.details %}</div>
            <ul class="catalog-item__time">
                <li>{% event.start_date %}</li>
                <li>{% "From " + event.time_from + " to " + event.time_to %}</li>
                <!--<li>{% event.starts_in %}</li>-->
                <!--<li class="full__start">{% event.start_date + " " + event.start_time %}</li>-->

            </ul>
            <ul class="catalog-item__location" ng-if="event.venue.street && event.venue.street !== '' ">
                <li>{% event.venue.street %}</li>
                <!--<li class="distance">5 km away</li>-->
            </ul>
            <div class="full__buttons clearfix">
                <a class="btn-social" facebook data-image="{% event.picture %}" data-url='http://venvast.com/!/event-{% event.id %}'></a>

                <!--<a class="btn-attend" href="#">Attend</a>-->
            </div>
        </div>
    </div>

</div>