<div class="category" ng-controller="VenueFilterCtrl">


    <div id="location_input" tabindex="1">
        <input type="text" class="location-input" placeholder="Select location" ng-model="venuesRequest.where.name" autocomplete="on">
    </div>

    <div id="category_search" class="dd-wrapper" tabindex="1">
        <span> {% venuesRequest.category ? venuesRequest.category : "Select category"%} </span>
        <ul class="dropdown">
            <li ng-click="selectCategory(null)">
                <a href="#" data-value="">-- All --</a>
            </li>
            <li ng-repeat="category in venueCategories" ng-click="selectCategory(category)">
                <a href="#" data-value="{% category.id %}">{% category.name %}</a>
            </li>
        </ul>
    </div>

    <div id="text_input" tabindex="1">
        <input type="text" placeholder="Enter venue title" ng-model="venuesRequest.text" ng-change="searchByText()">
    </div>

    <!--<a href="#" ng-click="search()" id="go-button">Go</a>-->
</div>