
<form class="container" ng-controller="EventCreateCtrl" ng-submit="createEvent($event)">
    <ul class="timeline">
        <li>
            <div class="timeline-number active">1</div>
            <div class="timeline-title">Event title</div>
            <div class="timeline-description">
                <div class="timeline-description__field">
                    <label for="eventEng">English</label>
                    <input type="text" id="eventEng" ng-model="newEvent.title">
                </div>
                <!--<div class="timeline-description__field">-->
                    <!--<label for="eventThai">Thailand</label>-->
                    <!--<input type="text" id="eventThai">-->
                <!--</div>-->
                <!--<p class="label-info">Please type in at least one language</p>-->
            </div>
        </li>
        <li>
            <div class="timeline-number">2</div>
            <div class="timeline-title">Interest</div>
            <div class="timeline-description">
                <div class="timeline-description__field">
                    <label for="category">Category</label>
                    <select id="category" required ng-model="newEvent.category">
                        <option value="">-- Choose category --</option>
                        <option value="{% category.id %}" ng-repeat="category in categories">{% category.name %}</option>
                    </select>
                </div>
                <!--<div class="timeline-description__field">-->
                    <!--<label for="subcategory">Sub category</label>-->
                    <!--<select id="subcategory">-->
                        <!--<option value="default">Default</option>-->
                    <!--</select>-->
                <!--</div>-->
                <p class="label-info">Please chose interest that best represents the event</p>
            </div>
        </li>
        <li>
            <div class="timeline-number">3</div>
            <div class="timeline-title">Description</div>
            <div class="timeline-description">
                <div class="timeline-description__field-full">
                    <label for="descrEng">English</label>
                    <textarea id="descrEng" ng-model="newEvent.details" placeholder="Please describe the event in 150 words or less"></textarea>
                </div>
                <!--<div class="timeline-description__field-full clear-offset">-->
                    <!--<label for="descrThai">Thailand</label>-->
                    <!--<textarea id="descrThai" placeholder="Please describe the event in 150 words or less"></textarea>-->
                <!--</div>-->
            </div>
        </li>
        <li>
            <div class="timeline-number">4</div>
            <div class="timeline-title">Date/Time</div>
            <div class="timeline-description">
                <div class="timeline-description__field-time">
                    <div class="field-time">
                        <label for="eventDate">Starts at</label>
                        <input id="eventDate" type="text" ng-model="newEvent.start_date"/>
                    </div>
                    <div class="field-time">
                        <label for="ends_in">Ends in</label>
                        <input type="text" id="ends_in" ng-model="newEvent.ends_in">
                    </div>
                </div>
                <div class="timeline-description__field-time" ng-if="durationDefined()">
                    <span>{% newEvent.durationHint %}</span>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-number">5</div>
            <div class="timeline-title">Location</div>
            <div class="timeline-description">

                <div class="timeline-description__field-location">
                    <select id="venue" name="venues" ng-model="newEvent.venue" ng-change="toggleAddressSearch()">
                        <option value="">--Choose venue--</option>
                        <option ng-if="venues.length > 0" ng-repeat="mVenue in venues" value="{% mVenue.id %}">{% mVenue.name %}</option>
                    </select>
                    <span class="label-address">Choose existing venue</span>
                </div>
                <div id="address-search">
                    <div class="field-or">
                        <span class="span-or">OR</span>
                    </div>
                    <div class="timeline-description__field-location">
                        <label for="address">Address</label>
                        <input g-places-autocomplete ng-model="newEvent.address" id="address" ng-change="addressSelected()" placeholder="Search">
                        <span class="label-address">{% newEvent.address.formatted_address %}</span>
                    </div>
                    <div class="timeline-description__field-location">
                        <label for="venue_name">Name</label>
                        <input name="name" id="venue_name" ng-model="newEvent.address.name" placeholder="Venue name">
                    </div>
                    <div class="timeline-description__field-location">
                        <label>Map</label>
                        <div class="field-map">
                            <ui-gmap-google-map center='map.center' zoom='map.zoom'>
                                <ui-gmap-marker coords="{latitude: map.latitude, longitude: map.longitude}" idKey="1">
                                </ui-gmap-marker>
                            </ui-gmap-google-map>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-number">6</div>
            <div class="timeline-title">Event photo</div>
            <div class="timeline-description">
                <div class="timeline-description__field-full clear-offset">
                    <label>Main photo</label>
                    <div class="label-photo-info">
                        <span class="description">Prefered minimum size xxx-xxx</span>
                        <a href="#">Upload photo</a>
                    </div>
                    <ul class="field-photo clearfix">
                        <!--<li>-->
                            <!--<div class="field-photo__item">-->

                            <!--</div>-->
                            <!--<a class="field-photo__remove" href="#">Remove</a>-->
                        <!--</li>-->
                    </ul>
                </div>
            </div>
        </li>
    </ul>
    <div class="timeline__buttons">
        <a href="#" ng-click="createEvent($event)" class="timeline-btn">Submit</a>
    </div>
</form>
<div ng-include src="'views/app/organizer_footer/organizer_footer.html'"></div>